<p id="notice"><%= notice %></p>

<div id="recipes">
  <div>
    <h2 class="text-text">Recipe Manager</h2>
  </div>
<table>
  <thead>
    <tr class="collection with-header">
      <th class="collection-header">Name</th>
      <th class="collection-header">Difficulty</th>
      <th class="collection-header">Prep time</th>
      <th class="collection-header">Rating</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes_by_rating.each do |recipe| %>
      <tr class="collection">
        <td class='collection-item'><%= recipe.name %> <%= link_to 'More info', recipe%></td>
        <td class='collection-item'><%= recipe.difficulty %></td>
        <td class='collection-item'><%= recipe.prep_time %> minutes</td>
        <% sum = 0 %>
        <% recipe.ratings.each do |rating| %>
          <% sum += rating.score %>
        <% end %>
        <% if recipe.ratings.empty? %>
        <td class='collection-item'>Unrated</td>
        <% else %>
        <td class='collection-item'><%= sum / recipe.ratings.length %><td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
